<h1>Contacts</h1>

<div>
  <h2>Meet our team</h2>
  <ol>
    <% @members.each do |member| %>
      <li><%= member.capitalize %></li>
    <% end %>
  </ol>
</div>

<form action="/contact" method="get">
  <label for="member">Who are you looking for?</label>
  <input type="text"
  name="member"
  value="<%= params[:member] %>"
  placeholder="John"
  >
  <input type="submit">
</form>

<%= link_to "Home", root_path %>
